.addSongButtonsContainer {
    display: flex;
}

.addSongMain {
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    padding: 100px;
    text-align: center;
    width: 100%;
}

.addSongMain .css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
    text-transform: capitalize;
}

.addSongMain h3{
    color: red;
}

.addSongMain span {
    font-size: 12px;
    font-style: italic;
}

.confirmDeleteText {
    font-size: 20px;
}