.availableSongsContainer{
    text-align: center;
}

.availableSongsListContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-height: 50vh;
    overflow-y: auto;
}

.availableSongsListContainer .css-19opgx6-MuiFormControlLabel-root {
    align-items: center;
    display: flex;
    justify-content: start;
}

.availableSongsListContainer ul {
    padding: 30px;
}

.availableSongsListItem {
    align-items: center;
    display: flex;
}

.selectSongsButtonsContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}