.adminTipsMain table {
    margin: auto;
    width: 95%;
}

.adminTipsMain table thead th {
    font-size: large;
    font-weight: 900;
    text-decoration: underline;
}

.tipFilterChipContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-block: 30px;
}

.tipFilterChipContainer .css-16yb58i-MuiButtonBase-root-MuiChip-root, .tipFilterChipContainer .css-1ykktcv-MuiButtonBase-root-MuiChip-root {
    background-color: rgb(155, 155, 155);
    color: black;
}

.tipFilterChipContainer .css-1ykktcv-MuiButtonBase-root-MuiChip-root:hover {
    background-color: white;
    color: gray;
}