.adminMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adminNavigationPanelContainer {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: auto;
    padding: 10px;
    width: 40%;
}

.adminNavigationPanelContainer .css-53g0n7-MuiButtonBase-root-MuiIconButton-root {
    flex-direction: column;
    margin-top: 7px;
    padding: 0;
}