.addSetlistErrorText {
    color: red;
    font-size: 16px;
    font-weight: 500;
}

.addSetlistFormFieldsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addSetlistMain {
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    padding: 100px;
    text-align: center;
    width: 100%;
}