.payErrorMessage{
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.songRequestedInfoContainer{
    display: flex;
    justify-content: center;
}

.songRequestedSongInfo{
    color: lightgreen;
}

.payMain .submitPayButtonsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  margin-top: 20px;
}

.submitPayButtonsContainer .css-1b9ih93-MuiButtonBase-root-MuiButton-root {
    color: white;
}

.submitPayButtonsContainer .css-1b9ih93-MuiButtonBase-root-MuiButton-root.MuiButton-loading {
    background-color: green;
    color: green;
}

.submitPayButtonsContainer .css-14m8o6v-MuiButton-loadingIndicator {
    color: white;
}