.addEventMain {
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    padding: 100px;
    text-align: center;
    width: 100%;
}

.addEventMain .css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
    cursor: not-allowed;
    pointer-events: all;
}

.eventTime1 {
    width: 35%;
}

.eventTime2 {
    width: 35%;
}

.eventTime3 {
    width: 30%;
}

.eventTimeSelectContainer {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;
    width: 100%;
}
